<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <system.webServer>
    <staticContent>
      <mimeMap fileExtension=".vizw" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".viz" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".bodydat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".anidat" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>